@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 93%;
  padding: 0 15px;
  margin: 0 auto;
}

.block {
  display: block !important;
}

.none {
  display: none !important;
}

.btn {
  background-color: #FFBC09;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.btn:hover {
  background-color: #d59b00;
}

.btn:hover::before {
  left: 15em;
}

.btn::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 2em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.outlineBtn {
  padding: 12px 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  position: relative;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  z-index: 2;
}

.outlineBtn::before {
  content: "";
  position: absolute;
  height: 40px;
  z-index: -1;
  background-color: white;
  bottom: 0px;
  right: 0px;
  width: 0%;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
}

.outlineBtn:hover::before {
  right: initial;
  left: 0px;
  width: 100%;
}

.outlineBtn:hover {
  color: #FFBC09;
}

.sectHeader {
  padding-top: 6rem;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sectHeader__title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sectHeader__text {
  font-size: 16px;
  color: #888888;
  line-height: 1.5;
  width: 30rem;
}

.bg-blue {
  background-color: #38DDF7;
}

.bg-red {
  background-color: #F6475F;
}

.bg-green {
  background-color: #B3D369;
}

.bg-yellow {
  background-color: #FFBC09;
}

.bg-vio {
  background-color: #f94fa4;
}

@-webkit-keyframes move {
  100% {
    -webkit-box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0);
            box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0);
  }
}

@keyframes move {
  100% {
    -webkit-box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0);
            box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0);
  }
}

.iconStyle {
  position: absolute;
  left: calc(100% / 2 - 35px);
  top: calc(100% / 2 - 35px);
  padding: 20px;
  color: #FFBC09;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 0px white;
          box-shadow: 0px 0px 0px 0px white;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.iconStyle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 0px white;
          box-shadow: 0px 0px 0px 0px white;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.active {
  background-color: #FFBC09 !important;
  color: white;
}

.tabs-item-slide:hover .ourGallery__tabs-item-hover {
  opacity: 0.5 !important;
  padding-top: 0;
}

.tabs-item-slide:hover img {
  opacity: 0.4;
}

.ourGallery .slick-list {
  z-index: 1;
  border-radius: 15px;
}

.count {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.ourGallery__menu {
  padding: 15px 0;
}

.headerSliderTransform {
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
  opacity: 1 !important;
}

.headerSliderText {
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
  opacity: 1 !important;
}

.dropDownMenu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: block;
  position: absolute;
  background-color: white;
  top: 10%;
  left: 0;
  z-index: 2;
  width: 100%;
}

.dropDownMenuList {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15px !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dropDownMenuSubList {
  position: relative !important;
  width: 100% !important;
  left: 0 !important;
}

.backgroundImage {
  background-image: url("../img/close.png") !important;
}

.pages__header {
  background-image: url("../img/about_bg.jpg");
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-blend-mode: color;
}

.pages__header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 0;
  color: white;
  font-size: 20px;
}

.pages__header-text a {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.pages__header-text a:hover {
  color: #FFBC09;
}

.pages__header-text h3 {
  font-size: 40px;
  font-weight: 700;
}

.toUp {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  padding: 10px 15px;
  background-color: black;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 22px;
  color: white;
  z-index: 1000;
  border-radius: 50%;
  opacity: 0;
}

.header__tutorials {
  background-color: #F6475F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 0;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.header__tutorials-link {
  margin-left: 15px;
  color: white;
  font-weight: 700;
}

.header__tutorials-btn {
  margin-left: 15px;
  font-size: 20px;
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.header__tutorials-btn:hover {
  opacity: 0.7;
}

.header__contactBg {
  background-color: #343a40;
}

.header__contact {
  padding: 0.7rem 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__contact-mailNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contact-mailNumber p {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
}

.header__contact-mailNumber p i {
  margin-right: 5px;
}

.header__contact-mailNumber p:hover {
  color: #FFBC09;
}

.header__contact-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contact-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact-social ul li {
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
}

.header__contact-social ul li:last-child {
  border-right: 1px solid white;
}

.header__contact-social ul li:hover {
  color: #FFBC09;
}

.header__contact-social-login {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0 10px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
}

.header__contact-social-login:hover {
  color: #FFBC09;
}

.header__contact-social-apply {
  border-radius: 5px;
  padding: 10px 15px;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
}

.header__navbarWrapper {
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar img {
  cursor: pointer;
}

.header__navbar-burger {
  width: 20px;
  height: 20px;
  background-image: url("../img/burger.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
  margin-left: 10px;
  padding: 0 !important;
}

.header__navbar-mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar-menu a {
  text-decoration: none;
  color: black;
}

.header__navbar-menu i {
  cursor: pointer;
  margin-left: 5px;
  line-height: 2;
  font-size: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.header__navbar-menu i:hover {
  color: #FFBC09;
}

.header__navbar-menu li {
  cursor: pointer;
  padding: 20px 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.header__navbar-menu li:hover {
  color: #FFBC09;
}

.header__navbar-menu-list {
  display: none;
  position: relative;
  margin: 0 10px;
}

.header__navbar-menu-subList {
  z-index: 20;
  position: absolute;
  width: 130px;
  top: 100%;
  display: none;
  color: black;
  background-color: white;
}

.header__navbar-menu-subList-galery {
  position: relative;
}

.header__navbar-menu-subList-galery:hover ul {
  display: block;
}

.header__navbar-menu-subList-galery i {
  margin-left: 50px !important;
}

.header__navbar-menu-subList-galery ul {
  display: none;
  background-color: white;
  color: black;
  position: absolute;
  left: 100%;
  width: 170%;
  top: 10%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header__navbar-menu-subList li {
  padding: 10px 5px;
}

.header__navbar-menu-contact {
  margin: 0 15px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.header__navbar-menu-contact:hover {
  color: #FFBC09;
}

.header__slider {
  position: relative;
  color: white;
}

.header__slider-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  opacity: 0;
}

.header__slider-text {
  font-size: .7rem;
  margin-bottom: 20px;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
}

.header__slider-btn {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  transition: all 2s 0.5s;
  -webkit-transition: all 2s 0.5s;
  -moz-transition: all 2s 0.5s;
}

.header__slider-btn button {
  border-radius: 5px;
}

.header__slider-btn .btn {
  padding: 15px 20px;
  margin-right: 10px;
}

.header__slider-item {
  width: 100%;
  padding: 70vw 0;
  text-align: center;
  position: relative;
}

.header__slider-bg1 {
  background: url("../img/banner1.jpg");
  background-size: 100% 130%;
  background-position: 0 -8rem;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: soft-light;
}

.header__slider-bg2 {
  background: url("../img/banner2.jpg");
  background-size: 100% 130%;
  background-position: 0 -8rem;
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__slider-bg3 {
  background: url("../img/banner3.jpg");
  background-size: 100% 130%;
  background-position: 0 -8rem;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: soft-light;
}

.whyChoose {
  background-color: #f7f7f7;
  padding-bottom: 5rem;
}

.whyChoose__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.whyChoose__tabs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 38%;
  margin-bottom: 25px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 35px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.1);
          box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.1);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}

.whyChoose__tabs-item:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.whyChoose__tabs-item:hover .whyChoose__tabs-item-img::before {
  opacity: 1;
  left: 5px;
  right: 5px;
  bottom: 5px;
  top: 5px;
}

.whyChoose__tabs-item-img {
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 15px;
  position: relative;
}

.whyChoose__tabs-item-img img {
  width: 50px;
}

.whyChoose__tabs-item-img:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #fff;
  border-radius: 100%;
  margin: 0px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.whyChoose__tabs-item-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}

.whyChoose__tabs-item-text {
  color: #888888;
  font-size: 16px;
  line-height: 1.5;
}

.popularCategories__tabs-item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  padding: 25px 0;
  color: white;
  margin-right: 10px;
  border-radius: 10px;
}

.popularCategories__tabs-item i {
  font-size: 40px;
}

.popularCategories__tabs-item p {
  margin-top: 20px;
  font-size: 20px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about__text-box {
  padding: 8%;
  border-radius: 0 200px 200px 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: absolute;
  width: 95%;
  background-color: white;
}

.about__text-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about__text-subtext {
  margin-bottom: 20px;
  line-height: 1.2;
  color: #888888;
  font-size: 14px;
}

.about__text-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__text-numbers span {
  font-size: 18px;
  font-weight: 700;
}

.about__text-numbers-free {
  margin-right: 20px;
}

.about__text-numbers-free p {
  color: #F6475F;
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 700;
}

.about__text-numbers-paid p {
  color: #B3D369;
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 700;
}

.about__video {
  width: 50%;
  position: relative;
  background-color: black;
}

.about__video img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.ourCourses__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ourCourses__tabs-item {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ourCourses__tabs-item:hover .ourCourses__tabs-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.ourCourses__tabs-img {
  overflow: hidden;
}

.ourCourses__tabs-img img {
  width: 100%;
  height: 100%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}

.ourCourses__tabs-content {
  padding: 10px;
}

.ourCourses__tabs-content-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.ourCourses__tabs-content-title:hover {
  color: #FFBC09;
}

.ourCourses__tabs-content-text {
  line-height: 1.2;
  margin-bottom: 10px;
  color: #888888;
}

.ourCourses__tabs-content-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ourCourses__tabs-content-icons-stars {
  color: #FFBC09;
  font-size: 14px;
}

.ourCourses__tabs-content-icons-likes i {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.ourCourses__tabs-content-icons-likes i:before {
  margin-right: 5px;
}

.ourCourses__tabs-content-icons-likes i:hover {
  color: #FFBC09;
}

.ourCourses__tabs-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #888888;
}

.ourCourses__tabs-foot-person {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.ourCourses__tabs-foot-person:hover {
  cursor: pointer;
  color: #FFBC09;
}

.ourCourses__tabs-foot-person img {
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
}

.ourCourses__tabs-foot-person span {
  vertical-align: 15px;
  font-weight: 500;
}

.ourCourses__tabs-foot-gadge {
  padding: 10px 15px;
  background-color: #d4edda;
  color: #155724;
  border-radius: 10px;
}

.ourCourses__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.ourCourses__button button {
  padding: 15px 25px;
  font-size: 18px;
}

.counter {
  background: url("../img/counter_bg.jpg");
  background-position: top;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 0;
  position: relative;
}

.counter:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: rgba(0, 0, 255, 0.4);
}

.counter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 10;
}

.counter__wrapper-item {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter__wrapper-item img {
  margin-bottom: 10px;
}

.counter__wrapper-item h3 {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

.counter__wrapper-item p {
  font-size: 16px;
}

.upcomingEvents {
  padding-bottom: 40px;
}

.upcomingEvents__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upcomingEvents__tabs-item {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.upcomingEvents__tabs-item:hover .upcomingEvents__tabs-item-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.upcomingEvents__tabs-item-img {
  position: relative;
  overflow: hidden;
}

.upcomingEvents__tabs-item-img img {
  width: 100%;
  height: 100%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}

.upcomingEvents__tabs-item-date {
  position: absolute;
  top: 10px;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 1.5;
  border-radius: 15px;
  overflow: hidden;
}

.upcomingEvents__tabs-item-date-day {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  font-size: 14px;
  font-weight: 700;
}

.upcomingEvents__tabs-item-date-day h4 {
  font-size: 24px;
}

.upcomingEvents__tabs-item-date-hour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFBC09;
  color: white;
}

.upcomingEvents__tabs-item-content {
  line-height: 1.5;
  padding: 10px;
}

.upcomingEvents__tabs-item-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.upcomingEvents__tabs-item-user {
  color: #FFBC09;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.upcomingEvents__tabs-item-user i {
  color: black;
  margin-left: 10px;
  margin-right: 5px;
}

.upcomingEvents__tabs-item-text {
  margin-top: 10px;
  color: #888888;
}

.onlineCourses {
  background: url("../img/pattern_bg.png");
  position: relative;
  background-size: cover;
  background-position: center;
}

.onlineCourses:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #07294D;
  z-index: -10;
}

.onlineCourses__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
}

.onlineCourses__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.onlineCourses__form-wrapper {
  padding: 50px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.onlineCourses__form-title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}

.onlineCourses__form-title span {
  color: #FFBC09;
}

.onlineCourses__form-text {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.onlineCourses__form-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.onlineCourses__form-elements input,
.onlineCourses__form-elements select {
  background: transparent;
  padding: 10px 20px;
  width: 47%;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
}

.onlineCourses__form-elements input::-webkit-input-placeholder,
.onlineCourses__form-elements select::-webkit-input-placeholder {
  color: white;
}

.onlineCourses__form-elements input:-ms-input-placeholder,
.onlineCourses__form-elements select:-ms-input-placeholder {
  color: white;
}

.onlineCourses__form-elements input::-ms-input-placeholder,
.onlineCourses__form-elements select::-ms-input-placeholder {
  color: white;
}

.onlineCourses__form-elements input::placeholder,
.onlineCourses__form-elements select::placeholder {
  color: white;
}

.onlineCourses__form-elements select option {
  color: black;
}

.onlineCourses__form-textArea textarea {
  width: 100%;
  background: transparent;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
}

.onlineCourses__form-textArea textarea::-webkit-input-placeholder {
  color: white;
}

.onlineCourses__form-textArea textarea:-ms-input-placeholder {
  color: white;
}

.onlineCourses__form-textArea textarea::-ms-input-placeholder {
  color: white;
}

.onlineCourses__form-textArea textarea::placeholder {
  color: white;
}

.onlineCourses__form-button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 15px 25px;
  margin-top: 10px;
}

.onlineCourses__img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.onlineCourses__img img {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 20px;
}

.ourGallery__menu {
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ourGallery__menu li {
  padding: 10px 20px;
  background-color: lightgray;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.ourGallery__menu li:hover {
  background-color: #FFBC09;
  color: white;
}

.ourGallery__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  overflow: hidden;
}

.ourGallery__tabs-item {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  height: 16vw;
  width: 31%;
  margin-bottom: 20px;
  margin-right: 2%;
}

.ourGallery__tabs-item:hover::before {
  opacity: 1;
}

.ourGallery__tabs-item:hover a {
  opacity: 1;
  top: -10vw;
}

.ourGallery__tabs-item:hover p {
  opacity: 1;
  top: -9vw;
}

.ourGallery__tabs-item:before {
  content: "";
  position: absolute;
  bottom: 0px;
  border-radius: 15px;
  right: 0;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.ourGallery__tabs-item img {
  width: 100%;
  border-radius: 15px;
}

.ourGallery__tabs-item img:before {
  content: "";
  position: absolute;
  bottom: 0px;
  border-radius: 15px;
  right: 0;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.ourGallery__tabs-item-hover-icon {
  opacity: 0;
  position: relative;
  top: -5vw;
  padding: 15px;
  z-index: 10;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.ourGallery__tabs-item-hover-text {
  opacity: 0;
  position: relative;
  top: -2vw;
  left: calc(100% / 2 - 4rem);
  font-size: 20px;
  margin-top: 15px;
  color: white;
  font-weight: 700;
  z-index: 5;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.ourTeachers {
  background: url("../img/teacher_bg.jpg");
  position: relative;
  background-attachment: fixed;
}

.ourTeachers__header {
  color: white;
}

.ourTeachers__header div {
  color: white;
}

.ourTeachers::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(7, 41, 77, 0.8);
}

.ourTeachers__wrapper {
  z-index: 10;
  position: relative;
}

.ourTeachers__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ourTeachers__tabs-item {
  width: 23%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
  background-color: white;
}

.ourTeachers__tabs-item:hover .ourTeachers__tabs-item-img-hover {
  opacity: 1;
}

.ourTeachers__tabs-item-img {
  position: relative;
  margin-bottom: 10px;
}

.ourTeachers__tabs-item-img-hover {
  opacity: 0;
  position: absolute;
  left: 0px;
  right: 0;
  top: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.ourTeachers__tabs-item-img-hover ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.ourTeachers__tabs-item-img-hover ul li {
  cursor: pointer;
}

.ourTeachers__tabs-item-img-hover ul li:hover {
  color: #FFBC09;
}

.ourTeachers__tabs-item-img img {
  width: 100%;
}

.ourTeachers__tabs-item-name {
  font-weight: 700;
  margin-bottom: 10px;
}

.ourTeachers__tabs-item-job {
  color: #888888;
  margin-bottom: 15px;
}

.studentSay .slick-track {
  padding: 40px;
}

.studentSay__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5rem;
}

.studentSay__slider-item {
  position: relative;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px 30px 20px 71px;
  margin-right: 50px;
  margin-left: 61px;
}

.studentSay__slider-item img {
  position: absolute;
  left: -54px;
  border-radius: 10px;
}

.studentSay__slider-item-name {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
}

.studentSay__slider-item-job {
  color: #f7d322;
  margin-bottom: 15px;
}

.studentSay__slider-item-text {
  line-height: 1.5;
}

.ourBlog {
  background-color: #f7f7f7;
  padding-bottom: 5rem;
}

.ourBlog__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ourBlog__tabs-item {
  width: 32%;
  border-radius: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ourBlog__tabs-item:hover .ourBlog__tabs-item-img:after {
  opacity: 1;
}

.ourBlog__tabs-item:hover .ourBlog__tabs-item-img-hover {
  opacity: 1;
  top: calc(100% / 2 - 40px);
}

.ourBlog__tabs-item-img {
  position: relative;
  cursor: pointer;
}

.ourBlog__tabs-item-img:after {
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.ourBlog__tabs-item-img-hover {
  opacity: 0;
  top: calc(100% / 2 + 50px);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  z-index: 10;
}

.ourBlog__tabs-item-img img {
  width: 100%;
}

.ourBlog__tabs-item-texts {
  padding: 15px;
}

.ourBlog__tabs-item-texts a {
  text-decoration: none;
  color: black;
}

.ourBlog__tabs-item-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
}

.ourBlog__tabs-item-text {
  line-height: 1.2;
  margin-bottom: 10px;
  color: #888888;
}

.ourBlog__tabs-item-foot {
  border-top: 1px solid black;
  padding: 20px 15px;
}

.ourBlog__tabs-item-foot i {
  color: #FFBC09;
}

.ourBlog__tabs-item-foot span {
  margin-right: 10px;
}

.ourBlog__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

.ourBlog__button button {
  padding: 15px 30px;
  font-size: 22px;
}

.ourBlog__button button i {
  font-size: 16px;
  margin-left: 10px;
}

.ourClient {
  padding-bottom: 50px;
}

.ourClient__slider-item {
  margin-left: 20px;
}

.ourClient__slider-item img {
  width: 100%;
}

.getCoaching {
  background-color: #FFBC09;
}

.getCoaching__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.getCoaching__text {
  width: 50%;
  color: white;
}

.getCoaching__text-title {
  font-size: 30px;
  font-weight: 700;
}

.getCoaching__text-subtext {
  margin-top: 20px;
}

.getCoaching__button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 15px 25px;
  border-radius: 10px;
}

.footer {
  background-color: #343a40;
  color: white;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.2;
  padding: 6rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__row-contact {
  width: 25%;
}

.footer__row-contact img {
  margin-bottom: 15px;
  cursor: pointer;
}

.footer__row-contact-text {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer__row-contact-adress, .footer__row-contact-mail, .footer__row-contact-number {
  margin-bottom: 10px;
  padding-left: 15px;
}

.footer__row-contact-adress i, .footer__row-contact-mail i, .footer__row-contact-number i {
  margin-right: 10px;
}

.footer__row-contact-mail {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  padding-left: 13px;
  cursor: pointer;
}

.footer__row-contact-mail:hover {
  color: #FFBC09;
}

.footer__row-links {
  width: 18%;
}

.footer__row-links-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 2;
  margin-bottom: 10px;
}

.footer__row-links-options {
  line-height: 2;
}

.footer__row-links-options li {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  cursor: pointer;
}

.footer__row-links-options li:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  color: #FFBC09;
}

.footer__row-posts {
  width: 26%;
}

.footer__row-posts-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 2;
  margin-bottom: 10px;
}

.footer__row-posts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.footer__row-posts-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.footer__row-posts-item-text:hover {
  color: #FFBC09;
}

.footer__row-posts-item-text span {
  color: #bbbbbb;
  font-size: 12px;
}

.footer__row-posts-item img {
  margin-right: 10px;
}

.footer__row-subscribe {
  width: 30%;
}

.footer__row-subscribe-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 2;
  margin-bottom: 10px;
}

.footer__row-subscribe-text {
  margin-bottom: 10px;
  text-align: justify;
}

.footer__row-subscribe-input {
  position: relative;
}

.footer__row-subscribe-input input {
  padding: 10px;
  width: 94%;
}

.footer__row-subscribe-input button {
  padding: 10px 15px;
  position: absolute;
  border-radius: 5px;
  right: 4px;
  bottom: calc(100% / 2 - 18px);
}

.footer__row-subscribe-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__row-subscribe-icon li {
  margin-right: 6px;
  padding: 10px;
  background-color: #494e53;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.footer__row-subscribe-icon li:hover {
  color: #FFBC09;
}

.subFooter {
  background-color: #202325;
}

.subFooter__row {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subFooter__policies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subFooter__policies li {
  margin-left: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  cursor: pointer;
}

.subFooter__policies li:hover {
  color: #FFBC09;
}

.aboutPage__about {
  padding-bottom: 8rem;
}

.aboutPage__counter {
  background-image: initial;
  background-color: white;
}

.aboutPage__counter .counter__wrapper-item {
  color: black;
}

.aboutPage__counter .counter__wrapper-item p {
  color: #888888;
}

.aboutPage__counter:after {
  background-color: white;
}

.courcesPage__ourCourses {
  padding-top: 6rem;
}

.courcesPage__buttons {
  color: #888888;
  margin-top: 3rem;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courcesPage__buttons li {
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.courcesPage__buttons li:hover {
  background-color: #FFBC09;
  color: white;
}

.courcesPage__buttons-hoverNone {
  cursor: auto !important;
}

.courcesPage__buttons-hoverNone:hover {
  background-color: initial !important;
  color: black !important;
}

.contactPage__getInTouch {
  padding-bottom: 6rem;
}

.contactPage__getInTouch-submits {
  width: 40%;
}

.contactPage__getInTouch-submits form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactPage__getInTouch-submits form input,
.contactPage__getInTouch-submits form textarea {
  border: none;
  width: 80%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.contactPage__getInTouch-submits form .btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px 20px;
  font-size: 18px;
}

.contactPage__getInTouch-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contactPage__getInTouch-map {
  width: 50%;
}

.contactPage__getInTouch-map iframe {
  width: 100%;
}

.contactPage__information {
  padding-bottom: 6rem;
}

.contactPage__information-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactPage__information-tabs-img {
  opacity: 0.1;
  width: 100%;
}

.contactPage__information-tabs-item {
  border-radius: 15px;
  width: 31%;
  position: relative;
}

.contactPage__information-tabs-text {
  width: 24vw;
  top: 4vw;
  left: 2vw;
  position: absolute;
  text-align: center;
  color: white;
}

.contactPage__information-tabs-text img {
  width: 5vw;
}

.contactPage__information-tabs-text h4 {
  font-size: 3vw;
}

.contactPage__information-tabs-text p {
  font-size: 2vw;
}

.courseDetail {
  padding: 6rem 0;
}

.courseDetail__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courseDetail__wrapper-details {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.courseDetail__wrapper-details-img {
  position: relative;
}

.courseDetail__wrapper-details-img img {
  width: 100%;
}

.courseDetail__wrapper-details-img p {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.courseDetail__wrapper-details-img button {
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.courseDetail__wrapper-details-teacher {
  background-color: antiquewhite;
  padding: 20px;
}

.courseDetail__wrapper-details-teacher h4 {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 15px;
}

.courseDetail__wrapper-details-teacher-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  border-top: 1px solid black;
}

.courseDetail__wrapper-details-teacher-info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  padding: 0 15px 0 15px;
  border-left: 1px solid black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.courseDetail__wrapper-details-teacher-info li h5 {
  font-weight: 700;
  margin-bottom: 5px;
}

.courseDetail__wrapper-details-teacher-info li i {
  color: #FFBC09;
  font-size: 15px;
}

.courseDetail__wrapper-details-teacher-info li a {
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.courseDetail__wrapper-details-teacher-info li a:hover {
  color: #FFBC09;
}

.courseDetail__wrapper-details-teacher-info li:first-child {
  padding-left: 0;
  border-left: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courseDetail__wrapper-details-teacher-info li:first-child img {
  width: 60px;
  margin-right: 15px;
}

.courseDetail__wrapper-details .relatedCourses__title {
  padding: 25px 0;
  font-weight: 700;
  font-size: 25px;
}

.courseDetail__wrapper-details-relatedCourses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courseDetail__wrapper-details-relatedCourses-item {
  width: 48% !important;
}

.courseDetail__wrapper-details .tab__menu {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #888888;
}

.courseDetail__wrapper-details .tab__menu li {
  padding: 15px;
  font-size: 20px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.courseDetail__wrapper-details .tab__menu li:first-child {
  border-bottom: 2px solid #FFBC09;
}

.courseDetail__wrapper-details .tab__menu li:hover {
  color: #FFBC09;
}

.courseDetail__wrapper-details .Overview {
  border: 1px solid black;
  padding: 10px;
  line-height: 1.2;
  font-size: 18px;
}

.courseDetail__wrapper-news {
  width: 26%;
}

.courseDetail__wrapper-news-search input {
  padding: 15px;
  width: 100%;
  font-size: 20px;
}

.courseDetail__wrapper-news-latestCourse-tabs {
  width: 100% !important;
}

.courseDetail__wrapper-news-latestCourse-tabs h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  cursor: pointer;
}

.courseDetail__wrapper-news-latestCourse-tabs h4:hover {
  color: #FFBC09;
}

.courseDetail__wrapper-news-latestCourse-tabs h4 p {
  margin-left: 10px;
}

.courseDetail__wrapper-news-latestCourse-tabs h4 span {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  right: 5px;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .dropDownMenu {
    top: 170px;
  }
  .header__slider-item {
    padding: 50vw 0;
  }
  .ourCourses__tabs-item,
  .upcomingEvents__tabs-item,
  .ourTeachers__tabs-item,
  .ourBlog__tabs-item {
    width: 48%;
  }
  .onlineCourses__img {
    max-width: 35%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .ourGallery__tabs-item:hover a {
    top: -13vw;
  }
  .ourGallery__tabs-item:hover p {
    top: -11vw;
  }
  .ourTeachers__tabs-item .ourTeachers__tabs-item-img-hover:hover {
    padding-bottom: 20vw;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .dropDownMenu {
    top: 211px;
  }
  .ourGallery__tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ourGallery__tabs-item {
    width: 100%;
    height: 230px;
  }
  .ourGallery__menu {
    width: initial;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ourGallery__menu li {
    width: 38%;
    margin-bottom: 5px;
    text-align: center;
  }
  .ourGallery__tabs-item:hover a {
    top: -30vw;
  }
  .ourGallery__tabs-item:hover p {
    top: -25vw;
  }
  .ourTeachers__tabs-item {
    width: 100%;
  }
  .onlineCourses__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .onlineCourses__form {
    width: 100%;
  }
  .onlineCourses__img {
    width: 100%;
  }
  .ourBlog__tabs-item {
    width: 100%;
  }
  .sectHeader__text,
  .upcomingEvents__tabs-item {
    width: initial;
  }
  .counter__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 20px;
    height: 23rem;
    width: initial;
  }
  .counter__wrapper-item {
    width: 48%;
  }
  .header__tutorials {
    display: block;
    text-align: center;
  }
  .ourCourses__tabs-item {
    width: initial;
  }
  .whyChoose__tabs-item {
    width: initial;
  }
  .header__contact-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__contact-social ul {
    margin-bottom: 5px;
  }
  .header__contact-social ul li:last-child {
    border-right: none;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__video {
    width: 100%;
  }
  .about__text {
    position: static;
    width: 100%;
  }
  .about__text-box {
    border-radius: initial !important;
    position: initial;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .header__slider-title {
    font-size: 2rem;
  }
  .footer__row-posts {
    width: 45%;
  }
  .footer__row-subscribe {
    width: 52%;
  }
  .ourGallery__tabs-item {
    height: 150px;
  }
  .dropDownMenu {
    top: 171px;
  }
}

@media only screen and (max-width: 768px) {
  .footer__row-posts {
    width: 100%;
  }
  .footer__row-subscribe {
    width: 100%;
  }
  .contactPage__getInTouch-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactPage__getInTouch-map {
    width: 100%;
  }
  .contactPage__getInTouch-submits {
    width: 100%;
  }
  .getCoaching__text-title {
    font-size: 18px;
  }
  .subFooter__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .subFooter__policies {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10px auto;
  }
  .slick-prev,
  .slick-next {
    top: 90%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .slick-prev {
    left: 20px;
  }
  .slick-next {
    right: 20px;
  }
  .header__contact-mailNumber {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
  .header__contact-social {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .header__navbar-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ourGallery__tabs-item {
    height: 200px;
  }
  .whyChoose__tabs-item {
    width: 25%;
  }
  .header__navbar-mainMenu {
    -webkit-transform: initial !important;
            transform: initial !important;
  }
  .about__text-subtext {
    font-size: 20px;
  }
  .header__slider-title {
    font-size: 3rem;
  }
  .header__slider-text {
    font-size: 1.4rem;
  }
  .ourCourses__tabs-item,
  .upcomingEvents__tabs-item,
  .ourBlog__tabs-item {
    width: 31%;
  }
  .ourTeachers__tabs-item {
    width: 23%;
  }
  .header__slider-item {
    padding: 25vw 0;
  }
  .footer__row-posts {
    width: 26%;
  }
  .footer__row-subscribe {
    width: 30%;
  }
  .ourTeachers__tabs-item:hover .ourTeachers__tabs-item-img-hover {
    padding-bottom: 7rem;
  }
  .dropDownMenu {
    display: none !important;
  }
}

@media only screen and (max-width: 991px) {
  .header__navbar-burger {
    display: block;
  }
  .header__navbar-menu-subList-galery ul {
    left: 0%;
    width: 100%;
    top: 100%;
  }
  .about__text-box {
    border-radius: 0 100px 100px 0;
  }
  .header__navbar-menu-contact {
    display: none;
  }
  .centered__item {
    margin: 0 auto;
  }
  .onlineCourses__form-wrapper {
    margin-bottom: 10%;
    padding: 8%;
  }
  .footer__row-contact {
    width: 65%;
  }
  .footer__row-links {
    width: 32%;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .header__slider-item {
    padding: 20vw 0;
  }
  .ourGallery__tabs-item:hover a {
    top: -9rem;
  }
  .ourGallery__tabs-item:hover p {
    top: -8rem;
  }
  .contactPage__information-tabs-text {
    width: 16rem;
    top: 25%;
    left: 11%;
  }
  .contactPage__information-tabs-text img {
    width: 25%;
  }
  .contactPage__information-tabs-text h4 {
    font-size: 20px;
  }
  .contactPage__information-tabs-text p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 50px;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 3s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 3s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@-webkit-keyframes color {
  100%,
  0% {
    stroke: #3BDBB8;
  }
  40% {
    stroke: #00B7D1;
  }
  66% {
    stroke: #3BDBB8;
  }
  80%,
  90% {
    stroke: #00B7D1;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #3BDBB8;
  }
  40% {
    stroke: #00B7D1;
  }
  66% {
    stroke: #3BDBB8;
  }
  80%,
  90% {
    stroke: #00B7D1;
  }
}

.showbox {
  position: fixed;
  top: 0;
  background-color: #e0d7d7;
  bottom: 0;
  left: 0;
  z-index: 1002;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
}
/*# sourceMappingURL=main.css.map */