@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  padding-left: 15rem !important;
  padding-right: 15rem !important;
  margin: 0 auto;
}

.block {
  display: block !important;
}

.btn {
  background-color: #FFBC09;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  background-color: #d59b00;
}

.btn:hover::before {
  left: 10em;
}

.btn::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 2em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.header__tutorials {
  background-color: #F6475F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 0;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.header__tutorials-link {
  margin-left: 15px;
  color: white;
  font-weight: 700;
}

.header__tutorials-btn {
  margin-left: 15px;
  font-size: 20px;
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.header__tutorials-btn:hover {
  opacity: 0.7;
}

.header__contact {
  padding: 0.7rem 0;
  background-color: #343a40;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact-mailNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contact-mailNumber p {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
}

.header__contact-mailNumber p i {
  margin-right: 5px;
}

.header__contact-mailNumber p:hover {
  color: #FFBC09;
}

.header__contact-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contact-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact-social ul li {
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
}

.header__contact-social ul li:last-child {
  border-right: 1px solid white;
}

.header__contact-social ul li:hover {
  color: #FFBC09;
}

.header__contact-social-login {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0 10px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
}

.header__contact-social-login:hover {
  color: #FFBC09;
}

.header__contact-social-apply {
  border-radius: 5px;
  padding: 10px 15px;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar img {
  cursor: pointer;
}

.header__navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navbar-menu li {
  cursor: pointer;
  padding: 20px 0;
}

.header__navbar-menu li:hover {
  color: #FFBC09;
}

.header__navbar-menu-list {
  position: relative;
  margin: 0 10px;
}

.header__navbar-menu-subList {
  z-index: 20;
  position: absolute;
  width: 120px;
  border: 1px solid;
  top: 40px;
  display: none;
  color: black;
  background-color: white;
}

.header__navbar-menu-subList li {
  padding: 10px 5px;
}

.header__navbar-menu-contact {
  margin: 0 15px;
}

.header__slider {
  color: white;
}

.header__slider-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.header__slider-text {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.header__slider-btn button {
  padding: 15px 20px;
  border-radius: 5px;
}

.header__slider-btn .btn {
  margin-right: 10px;
}

.header__slider-outlineBtn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

.header__slider-1, .header__slider-2, .header__slider-3 {
  width: 100%;
  padding: 17rem 0;
  text-align: center;
}

.header__slider-1 {
  background: url("../img/banner1.jpg");
  background-size: cover;
}

.header__slider-2 {
  background: url("../img/banner2.jpg");
  background-size: cover;
}

.header__slider-3 {
  background: url("../img/banner3.jpg");
  background-size: cover;
}

.whyChoose {
  background-color: #f7f7f7;
}

.whyChoose__header {
  padding-top: 50px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.whyChoose__header-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.whyChoose__header-text {
  font-size: 16px;
  color: #888888;
  line-height: 1.5;
  width: 30rem;
}

.whyChoose__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.whyChoose__tabs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 35px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.1);
          box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.1);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}

.whyChoose__tabs-item:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.whyChoose__tabs-item:hover .whyChoose__tabs-item-img::before {
  opacity: 1;
  left: 5px;
  right: 5px;
  bottom: 5px;
  top: 5px;
}

.whyChoose__tabs-item .bg-red {
  background-color: #F6475F;
}

.whyChoose__tabs-item .bg-yellow {
  background-color: #FFBC09;
}

.whyChoose__tabs-item .bg-green {
  background-color: #B3D369;
}

.whyChoose__tabs-item-img {
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 15px;
  position: relative;
}

.whyChoose__tabs-item-img img {
  width: 50px;
}

.whyChoose__tabs-item-img:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #fff;
  border-radius: 100%;
  margin: 0px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.whyChoose__tabs-item-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}

.whyChoose__tabs-item-text {
  color: #888888;
  font-size: 16px;
  line-height: 1.5;
}
/*# sourceMappingURL=main.css.map */