    .container {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .block {
        display: block !important;
    }
    
    .btn {
        background-color: $primary-color;
        color: white;
        border: none;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        &:hover {
            background-color: darken($color: $primary-color, $amount: 10);
        }
        &:hover::before {
            left: 15em;
        }
        &::before {
            content: "";
            background-color: rgba(255, 255, 255, 0.5);
            height: 100%;
            width: 2em;
            display: block;
            position: absolute;
            top: 0;
            left: -4.5em;
            -webkit-transform: skewX(-45deg) translateX(0);
            transform: skewX(-45deg) translateX(0);
            @include transition(all 0.4s ease-in-out);
        }
    }
    
    .outlineBtn {
        padding: 12px 20px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        position: relative;
        @include transition(all 0.6s);
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            height: 40px;
            z-index: -1;
            background-color: white;
            bottom: 0px;
            right: 0px;
            width: 0%;
            @include transition(all 0.6s)
        }
        &:hover::before {
            right: initial;
            left: 0px;
            width: 100%;
        }
        &:hover {
            color: $primary-color;
        }
    }
    
    .sectHeader {
        padding-top: 50px;
        padding-bottom: 30px;
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
        &__title {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        &__text {
            font-size: 16px;
            color: $subtitle-color;
            line-height: 1.5;
            width: 30rem;
        }
    }
    
    .bg-blue {
        background-color: #38DDF7;
    }
    
    .bg-red {
        background-color: $primary-red;
    }
    
    .bg-green {
        background-color: $primary-green;
    }
    
    .bg-yellow {
        background-color: $primary-color;
    }
    
    .bg-vio {
        background-color: #f94fa4;
    }
    
    @keyframes move {
        100% {
            box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0);
            ;
        }
    }
    
    .iconStyle {
        position: absolute;
        left: calc(100% / 2 - 35px);
        top: calc(100% / 2 - 35px);
        padding: 20px;
        color: $primary-color;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
        animation-name: move;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            border-radius: 50%;
            box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
            animation-name: move;
            animation-iteration-count: infinite;
            animation-duration: 1.5s;
            animation-delay: 0.8s;
        }
    }
    
    .active {
        background-color: $primary-color !important;
        color: white;
    }
    
    .tabs-item-slide {
        &:hover .ourGallery__tabs-item-hover {
            opacity: 0.5 !important;
            padding-top: 0;
        }
        &:hover img {
            opacity: 0.4;
        }
    }
    
    .ourGallery .slick-list {
        z-index: 1;
        border-radius: 15px;
    }
    
    .count {
        animation-duration: 1s;
        animation-delay: 0s;
    }
    
    .ourGallery__menu {
        padding: 15px 0;
    }
    
    .headerSliderTransform {
        transform: translateY(0px) !important;
        opacity: 1 !important;
    }
    
    .headerSliderText {
        transform: translateY(0px) !important;
        opacity: 1 !important;
    }