.aboutPage {
    &__about {
        padding-bottom: 8rem;
    }
    &__counter {
        background-image: initial;
        background-color: white;
        .counter__wrapper-item {
            color: black;
            p {
                color: $subtitle-color;
            }
        }
        &:after {
            background-color: white;
        }
    }
}

.courcesPage {
    &__ourCourses {
        padding-top: 6rem;
    }
    &__buttons {
        color: $subtitle-color;
        margin-top: 3rem;
        padding-bottom: 5rem;
        display: flex;
        width: 20rem;
        margin: 0 auto;
        justify-content: space-between;
        li {
            padding: 10px 15px;
            cursor: pointer;
            @include transition(all 0.5s);
            &:hover {
                background-color: $primary-color;
                color: white;
            }
        }
        &-hoverNone {
            cursor: auto !important;
            &:hover {
                background-color: initial !important;
                color: black !important;
            }
        }
    }
}

.contactPage__getInTouch {
    padding-bottom: 6rem;
    &-submits {
        width: 40%;
        form {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            input,
            textarea {
                border: none;
                width: 80%;
                padding: 5px 10px;
                margin-bottom: 10px;
                font-size: 18px;
            }
            .btn {
                align-self: flex-start;
                padding: 10px 20px;
                font-size: 18px;
            }
        }
    }
    &-data {
        display: flex;
        justify-content: flex-end;
    }
    &-map {
        width: 50%;
        iframe {
            width: 100%;
        }
    }
}

.contactPage__information {
    padding-bottom: 6rem;
    &-tabs {
        display: flex;
        justify-content: space-between;
        &-img {
            opacity: 0.1;
            width: 100%;
        }
        &-item {
            border-radius: 15px;
            width: 31%;
            position: relative;
        }
        &-text {
            img {
                width: 5vw;
            }
            h4 {
                font-size: 3vw;
            }
            p {
                font-size: 2vw;
            }
            width: 24vw;
            top: 4vw;
            left: 2vw;
            position: absolute;
            text-align: center;
            color: white;
        }
    }
}

.courseDetail {
    padding: 6rem 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        &-details {
            width: 70%;
            display: flex;
            flex-direction: column;
            &-img {
                position: relative;
                img {
                    width: 100%;
                }
                p {
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                }
                button {
                    padding: 5px 10px;
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                }
            }
            &-teacher{
                background-color: antiquewhite;
                padding: 20px;
                h4{
                    font-size: 28px;
                    font-weight: 700;
                    padding-bottom: 15px;
                }

                &-info{
                    display: flex;
                    align-items: center;
                    padding-top: 15px;
                    border-top: 1px solid black;

                    li{
                        display: flex;
                        font-size: 20px;
                        padding: 0 15px 0 15px;
                        border-left: 1px solid black;
                        h5{
                            font-weight: 700;
                            margin-bottom: 5px;

                        }
                        i{
                            color: $primary-color;
                            font-size: 15px;
                        }
                        a{
                            text-decoration: none;
                            @include transition(all 0.5s);
                            &:hover{
                                color:$primary-color
                            }
                        }
    flex-direction: column;
                    }
                    li:first-child{
                        padding-left: 0;
                        border-left: none;
                        img{
                            width: 60px;
                            margin-right: 15px;
                        }
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    
                }
            }
            .relatedCourses__title{
                padding: 25px 0;
                font-weight: 700;
                font-size: 25px;
            }
            &-relatedCourses{
                display: flex;
                justify-content: space-between;
                &-item{
                    width: 48% !important;
                }
            }
           

            .tab{
                &__menu{
                    margin:20px 0;
                    display: flex;
                    border-bottom: 1px solid $subtitle-color;
                    li{
                        padding: 15px;
                        font-size: 20px;
                        @include transition(all 0.5s);
                        &:first-child{
                            border-bottom: 2px solid $primary-color;
                        }
                        &:hover{
                            color:$primary-color
                        }
                    }
                }
            }
            .Overview{
                border: 1px solid black;
                padding: 10px;
                line-height: 1.2;
                font-size: 18px;
            }
        }
        &-news{
            width: 26%;
            &-search{
                input{
                    padding: 15px;
                    width: 100%;
                    font-size: 20px;
                }
            }
            &-latestCourse{
                &-tabs{
                    width: 100% !important;
                    h4{
                        display: flex;
                        position: relative;
                        margin-bottom: 10px;
                        @include transition(all 0.5s);
                        cursor: pointer;
                        &:hover{
                            color:$primary-color
                        }
                        p{
                            margin-left: 10px;
                        }
                        span{
                            align-self: flex-end;
                            position: absolute;
                            right: 5px;
                        }
                    }

                }
            }
        }
    }
}