.ourBlog{
    background-color: #f7f7f7;
    padding-bottom: 5rem;
    &__tabs{
        display: flex;
        justify-content: space-between;
        &-item{
            width: 32%;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            &-img{
                img{
                    width: 100%;
                }

            }
            &-texts{
                padding: 15px;
                a{
                    text-decoration: none;
                    color: black
                }
                

            }
            &-title{
                margin-bottom: 15px;
                font-weight: 700;
                font-size: 18px
            }
            &-text{
                line-height: 1.2;
                margin-bottom: 10px;
                color:$subtitle-color;
            }
            &-foot{
                border-top: 1px solid black;
                padding:20px 15px;
                i{
                    color:$primary-color;
                }
                span{
                    margin-right: 10px
                }
              
            }
            
        }
    }
}