.ourGallery {
    &__menu {
        width: 25rem;
        display: flex;
        padding-bottom: 30px;
        margin: 0 auto;
        justify-content: space-between;
        li {
            padding: 10px 20px;
            background-color: lightgray;
            border-radius: 5px;
            cursor: pointer;
            @include transition(all 0.5s);
            &:hover {
                background-color: $primary-color;
                color: white;
            }
        }
    }
    &__tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 40px;
        overflow: hidden;
        &-item {
            position: relative;
            border-radius: 15px;
            overflow: hidden;
            height: 16vw;
            width: 31%;
            margin-bottom: 20px;
            margin-right: 2%;
            &:hover::before {
                opacity: 1;
            }
            &:hover a {
                opacity: 1;
                top: -10vw
            }
            &:hover p {
                opacity: 1;
                top: -9vw
            }
            &:before {
                content: "";
                position: absolute;
                bottom: 0px;
                border-radius: 15px;
                right: 0;
                top: 0;
                left: 0;
                z-index: 0;
                opacity: 0;
                background-color: rgba(0, 0, 0, 0.4);
            }
            img {
                width: 100%;
                border-radius: 15px;
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    border-radius: 15px;
                    right: 0;
                    top: 0;
                    left: 0;
                    z-index: 4;
                    opacity: 0;
                    background-color: rgba(0, 0, 0, 0.4);
                }
            }
            &-hover {
                &-icon {
                    opacity: 0;
                    position: relative;
                    top: -5vw;
                    padding: 15px;
                    z-index: 10;
                    @include transition(all 0.5s);
                }
                &-text {
                    opacity: 0;
                    position: relative;
                    top: -2vw;
                    left: calc(100% / 2 - 4rem);
                    font-size: 20px;
                    margin-top: 15px;
                    color: white;
                    font-weight: 700;
                    z-index: 5;
                    @include transition(all 0.5s)
                }
            }
        }
    }
}