.ourTeachers {
    background: url("../img/teacher_bg.jpg");
    position: relative;
    background-attachment: fixed;
    &__header {
        color: white;
        div {
            color: white
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(#07294D, 0.8);
    }
    &__wrapper {
        z-index: 10;
        position: relative;
    }
    &__tabs {
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        padding-top: 20px;
        flex-wrap: wrap;
        &-item {
            width: 23%;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 20px;
            text-align: center;
            background-color: white;
            &:hover .ourTeachers__tabs-item-img-hover {
                opacity: 1;
                padding-bottom: 8vw
            }
            &-img {
                position: relative;
                &-hover {
                    opacity: 0;
                    position: absolute;
                    left: 0px;
                    right: 0;
                    top: 0;
                    align-items: flex-end;
                    bottom: 0;
                    display: flex;
                    background-color: rgba(0, 0, 0, 0.4);
                    justify-content: center;
                    @include transition(all 0.5s);
                    ul {
                        list-style: none;
                        display: flex;
                        width: 50%;
                        justify-content: space-between;
                        color: white;
                        li {
                            cursor: pointer;
                            &:hover {
                                color: $primary-color
                            }
                        }
                    }
                }
                img {
                    width: 100%
                }
                margin-bottom: 10px;
            }
            &-name {
                font-weight: 700;
                margin-bottom: 10px;
            }
            &-job {
                color: $subtitle-color;
                margin-bottom: 15px;
            }
        }
    }
}