.studentSay {
    .slick-track {
        padding: 40px
    }
    &__slider {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5rem;
        &-item {
            position: relative;
            box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            padding: 20px 30px 20px 71px;
            margin-right: 50px;
            margin-left: 61px;
            img {
                position: absolute;
                left: -54px;
                border-radius: 10px;
            }
            &-name {
                font-size: 20px;
                margin-bottom: 15px;
                font-weight: 700;
            }
            &-job {
                color: #f7d322;
                margin-bottom: 15px;
            }
            &-text {
                line-height: 1.5
            }
        }
    }
}