@media only screen and (min-width: 992px) {
    .container {
        max-width: 960px
    }
    .header__navbar-menu-list {
        display: flex
    }
    .ourGallery__tabs-item {
        height: 200px;
    }
    .whyChoose__tabs-item {
        width: 25%
    }
    .header__navbar-mainMenu {
        transform: initial !important;
    }
    .about__text-subtext {
        font-size: 20px;
    }
    .header__slider-title {
        font-size: 3rem;
    }
    .header__slider-text {
        font-size: 1.4rem;
    }
    .ourCourses__tabs-item,
    .upcomingEvents__tabs-item,
    .ourBlog__tabs-item {
        width: 31%
    }
    .ourTeachers__tabs-item {
        width: 23%;
    }
    .header__slider-item {
        padding: 25vw 0;
    }
    .footer__row {
        &-posts {
            width: 26%
        }
        &-subscribe {
            width: 30%;
        }
    }
    .ourTeachers__tabs-item:hover .ourTeachers__tabs-item-img-hover {
      
            padding-bottom: 7rem;
        
    }
    .dropDownMenu {
        display: none !important;
    }
}

@media only screen and (max-width: 991px) {
    .header__navbar-burger {
        display: block;
    }
    .header__navbar-menu-subList-galery ul {
        left: 0%;
        width: 100%;
        top: 100%;
    }
    .about__text-box {
        border-radius: 0 100px 100px 0;
    }
    .header__navbar-menu-contact {
        display: none;
    }
    .centered__item {
        margin: 0 auto;
    }
    .onlineCourses__form-wrapper {
        margin-bottom: 10%;
        padding: 8%;
    }
    .footer__row {
        &-contact {
            width: 65%
        }
        &-links {
            width: 32%;
            margin-bottom: 30px;
        }
    }
}